In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine("mysql://root:root@10.0.5.197:3310/retail_db")

In [4]:
conn= engine.connect()

In [5]:
customers = pd.read_sql_table('customers', engine)
departments = pd.read_sql_table('departments', engine)
categories = pd.read_sql_table('categories', engine)
products = pd.read_sql_table('products', engine)
orders = pd.read_sql_table('orders', engine)
order_items = pd.read_sql_table('order_items', engine)

In [ ]:
#Cuantos clientes hay registrados en total?
#Cuantos clientes hay por cada ciudad?
#Cuantos clientes tienen el mismo apellido?

In [6]:
customers.count()

customer_id          12435
customer_fname       12435
customer_lname       12435
customer_email       12435
customer_password    12435
customer_street      12435
customer_city        12435
customer_state       12435
customer_zipcode     12435
dtype: int64

In [8]:
customers.head()

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,xxxxxxxxx,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,xxxxxxxxx,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,xxxxxxxxx,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,725
3,4,Mary,Jones,xxxxxxxxx,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,xxxxxxxxx,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,725

In [10]:
# Con el siguiente escript sabremos la cantidad de clientes unicos
total_clientes = customers['customer_id'].nunique()
print(f"Total de clientes: {total_clientes}")

Total de clientes: 12435

In [11]:
customers['customer_id'].unique()

array([    1,     2,     3, ..., 12433, 12434, 12435])

In [14]:
#Cuantos clientes hay por cada ciudad?
total_clientes_ciudad = customers['customer_city'].value_counts()
print(f"Clientes por ciudad: {total_clientes_ciudad}")

Clientes por ciudad: customer_city
Caguas           4584
Chicago           274
Brooklyn          225
Los Angeles       224
New York          120
                 ...
Hempstead           3
Freehold            2
Ponce               2
National City       2
Gwynn Oak           2
Name: count, Length: 562, dtype: int64

In [16]:
#Cuantos clientes tienen el mismo apellido?
total_clientes_apellido = customers["customer_lname"].value_counts()
total_clientes_apellido

customer_lname
Smith       4626
Johnson       76
Williams      69
Jones         65
Brown         62
            ...
Zuniga         1
Haney          1
Abbott         1
Benton         1
Blevins        1
Name: count, Length: 985, dtype: int64

In [17]:
products.head()

,product_id,product_category_id,product_name,product_description,product_price,product_image
0,1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,None,59.98,http://images.acmesports.sports/Quest+Q64+10+F...
1,2,2,Under Armour Men's Highlight MC Football Clea,None,129.99,http://images.acmesports.sports/Under+Armour+M...
2,3,2,Under Armour Men's Renegade D Mid Football Cl,None,89.99,http://images.acmesports.sports/Under+Armour+M...
3,4,2,Under Armour Men's Renegade D Mid Football Cl,None,89.99,http://images.acmesports.sports/Under+Armour+M...
4,5,2,Riddell Youth Revolution Speed Custom Footbal,None,199.99,http://images.acmesports.sports/Riddell+Youth+...

In [18]:
##Cuales son los productos más caros y más baratos?

producto_caro = products.loc[1]
producto_caro

product_id                                                             2
product_category_id                                                    2
product_name               Under Armour Men's Highlight MC Football Clea
product_description                                                 None
product_price                                                     129.99
product_image          http://images.acmesports.sports/Under+Armour+M...
Name: 1, dtype: object

In [23]:
producto_caro = products.loc[products["product_price"].idxmax()]
producto_barato = products.loc[products["product_price"].idxmin()]
producto_barato

product_id                                                            38
product_category_id                                                    3
product_name               Nike Men's Hypervenom Phantom Premium FG Socc
product_description                                                 None
product_price                                                        0.0
product_image          http://images.acmesports.sports/Nike+Men%27s+H...
Name: 37, dtype: object

In [ ]:
#Cual es el producto más vendido?
#Cuales son los productos más comprados por cada cliente?
#Cual es el total gastado por cliente
#Cual es la catagoría mas popular (terminos de venta)

In [25]:
total_productos_vendidos = order_items.groupby('order_item_product_id')['order_item_quantity'].sum()
total_productos_vendidos

order_item_product_id
19         64
24        231
35         65
37        781
44        939
        ...
982        60
1004    17325
1014    57803
1059       40
1073    15500
Name: order_item_quantity, Length: 100, dtype: int64

In [26]:
total_productos_vendidos = order_items.groupby('order_item_product_id')['order_item_quantity'].sum().idxmax()
print (total_productos_vendidos)

## esto da como resultado el id de producto más vendido

365

In [31]:
total_productos_vendidos = order_items.groupby('order_item_product_id')['order_item_quantity'].sum().idxmax()
print (total_productos_vendidos)

producto_nombre = products.loc[products['product_id'] == total_productos_vendidos, 'product_name'].values[0]
producto_nombre

365

'Perfect Fitness Perfect Rip Deck'