In [1]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

In [3]:
engine = create_engine("mysql://root:root@10.0.2.99:3310/retail_db")

In [4]:
conn= engine.connect()

In [5]:
customers = pd.read_sql_table('customers', engine)
departments = pd.read_sql_table('departments', engine)
categories = pd.read_sql_table('categories', engine)
products = pd.read_sql_table('products', engine)
orders = pd.read_sql_table('orders', engine)
order_items = pd.read_sql_table('order_items', engine)

In [ ]:
#Cuantos clientes hay registrados en total?
#Cuantos clientes hay por cada ciudad?
#Cuantos clientes tienen el mismo apellido?

In [ ]:
customers.count()

customer_id          12435
customer_fname       12435
customer_lname       12435
customer_email       12435
customer_password    12435
customer_street      12435
customer_city        12435
customer_state       12435
customer_zipcode     12435
dtype: int64

In [7]:
customers.head()

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,xxxxxxxxx,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,xxxxxxxxx,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,xxxxxxxxx,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,725
3,4,Mary,Jones,xxxxxxxxx,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,xxxxxxxxx,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,725

In [8]:
# Con el siguiente escript sabremos la cantidad de clientes unicos
total_clientes = customers['customer_id'].nunique()
print(f"Total de clientes: {total_clientes}")

Total de clientes: 12435

In [9]:
customers['customer_id'].unique()

array([    1,     2,     3, ..., 12433, 12434, 12435])

In [10]:
#Cuantos clientes hay por cada ciudad?
total_clientes_ciudad = customers['customer_city'].value_counts()
print(f"Clientes por ciudad: {total_clientes_ciudad}")

Clientes por ciudad: customer_city
Caguas           4584
Chicago           274
Brooklyn          225
Los Angeles       224
New York          120
                 ...
Hempstead           3
Freehold            2
Ponce               2
National City       2
Gwynn Oak           2
Name: count, Length: 562, dtype: int64

In [11]:
#Cuantos clientes tienen el mismo apellido?
total_clientes_apellido = customers["customer_lname"].value_counts()
total_clientes_apellido

customer_lname
Smith       4626
Johnson       76
Williams      69
Jones         65
Brown         62
            ...
Zuniga         1
Haney          1
Abbott         1
Benton         1
Blevins        1
Name: count, Length: 985, dtype: int64

In [12]:
products.head()

,product_id,product_category_id,product_name,product_description,product_price,product_image
0,1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,None,59.98,http://images.acmesports.sports/Quest+Q64+10+F...
1,2,2,Under Armour Men's Highlight MC Football Clea,None,129.99,http://images.acmesports.sports/Under+Armour+M...
2,3,2,Under Armour Men's Renegade D Mid Football Cl,None,89.99,http://images.acmesports.sports/Under+Armour+M...
3,4,2,Under Armour Men's Renegade D Mid Football Cl,None,89.99,http://images.acmesports.sports/Under+Armour+M...
4,5,2,Riddell Youth Revolution Speed Custom Footbal,None,199.99,http://images.acmesports.sports/Riddell+Youth+...

In [13]:
##Cuales son los productos más caros y más baratos?

producto_caro = products.loc[1]
producto_caro

product_id                                                             2
product_category_id                                                    2
product_name               Under Armour Men's Highlight MC Football Clea
product_description                                                 None
product_price                                                     129.99
product_image          http://images.acmesports.sports/Under+Armour+M...
Name: 1, dtype: object

In [14]:
producto_caro = products.loc[products["product_price"].idxmax()]
producto_barato = products.loc[products["product_price"].idxmin()]
producto_barato

product_id                                                            38
product_category_id                                                    3
product_name               Nike Men's Hypervenom Phantom Premium FG Socc
product_description                                                 None
product_price                                                        0.0
product_image          http://images.acmesports.sports/Nike+Men%27s+H...
Name: 37, dtype: object

In [ ]:
#Cual es el producto más vendido?
#Cuales son los productos más comprados por cada cliente?
#Cual es el total gastado por cliente
#Cual es la catagoría mas popular (terminos de venta)

In [15]:
total_productos_vendidos = order_items.groupby('order_item_product_id')['order_item_quantity'].sum()
total_productos_vendidos

order_item_product_id
19         64
24        231
35         65
37        781
44        939
        ...
982        60
1004    17325
1014    57803
1059       40
1073    15500
Name: order_item_quantity, Length: 100, dtype: int64

In [16]:
total_productos_vendidos = order_items.groupby('order_item_product_id')['order_item_quantity'].sum().idxmax()
print (total_productos_vendidos)

## esto da como resultado el id de producto más vendido

365

In [21]:
total_productos_vendidos = order_items.groupby('order_item_product_id')['order_item_quantity'].sum().idxmax()
print (total_productos_vendidos)

producto_nombre = products.loc[products['product_id'] == total_productos_vendidos, 'product_name'].values[0]
producto_nombre

365

'Perfect Fitness Perfect Rip Deck'

In [20]:
#Cual es el total gastado por cliente
total_gastado_por_cliente = order_items.merge(orders, left_on='order_item_order_id', right_on='order_id')
total_gastado_por_cliente.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172198 entries, 0 to 172197
Data columns (total 10 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   order_item_id             172198 non-null  int64
 1   order_item_order_id       172198 non-null  int64
 2   order_item_product_id     172198 non-null  int64
 3   order_item_quantity       172198 non-null  int64
 4   order_item_subtotal       172198 non-null  float64
 5   order_item_product_price  172198 non-null  float64
 6   order_id                  172198 non-null  int64
 7   order_date                172198 non-null  datetime64[ns]
 8   order_customer_id         172198 non-null  int64
 9   order_status              172198 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(6), object(1)
memory usage: 13.1+ MB

In [23]:
total_gastado_por_cliente = order_items.merge(orders, left_on='order_item_order_id', right_on='order_id')
total_gastado_por_cliente = total_gastado_por_cliente.groupby('order_customer_id')['order_item_subtotal'].sum().reset_index()
total_gastado_por_cliente

       order_customer_id  order_item_subtotal
0                      1               499.95
1                      2              1819.73
2                      3              3537.68
3                      4              1719.63
4                      5              1274.75
...                  ...                  ...
12326              12431              8073.15
12327              12432              5234.20
12328              12433              1409.79
12329              12434              3084.78
12330              12435              1329.84

[12331 rows x 2 columns]

In [30]:
#Cual es el total gastado por cliente
total_gastado_por_cliente = order_items.merge(orders, left_on='order_item_order_id', right_on='order_id')
total_gastado_por_cliente = total_gastado_por_cliente.groupby('order_customer_id')['order_item_subtotal'].sum().reset_index()
total_gastado_por_cliente = total_gastado_por_cliente.merge(customers, left_on='order_customer_id', right_on = 'customer_id')
total_gastado_por_cliente[['customer_fname', 'customer_lname','order_item_subtotal']].sort_values( by='order_item_subtotal', ascending= False)

      customer_fname customer_lname  order_item_subtotal
782             Mary          Smith             10524.17
9295            Mary      Patterson              9299.03
8694            Mary         Duncan              9296.14
1636           Betty       Phillips              9223.71
2612           Betty         Spears              9130.92
...              ...            ...                  ...
6909            Joan          Smith                49.98
1988           Ethan          Smith                49.98
7033       Elizabeth          Wells                49.95
11445      Christian          Smith                39.99
11786         Andrea       Morrison                25.00

[12331 rows x 3 columns]

In [ ]:
# Cual es la categoria mas popular (terminos de venta)
# Cuales son los productos mas comprados por cada cliente

In [ ]:
# order_items / products / categories
# merge / group by / sort_values() | idxmax

In [32]:
# Cual es la categoria mas popular (terminos de venta)
categories2 =pd.merge(categories,products, left_on = 'category_id', right_on = 'product_category_id',how="left")
categories2 =pd.merge(categories2,order_items, left_on = 'product_id', right_on = 'order_item_product_id',how="left")
categories2 = categories2.groupby(['category_name'])['order_item_quantity'].sum().idxmax()
categories2

'Cleats'

In [33]:
sales_by_category = order_items.merge(products, left_on='order_item_product_id', right_on='product_id')
sales_by_category = sales_by_category.groupby('product_category_id')['order_item_quantity'].sum().reset_index()
sales_by_category = sales_by_category.merge(categories, left_on='product_category_id', right_on='category_id')
most_popular_category = sales_by_category.loc[sales_by_category['order_item_quantity'].idxmax()]['category_name']
print(f'Categoría más popular: {most_popular_category}')

Categoría más popular: Cleats

In [36]:
categoria_mas_popular=order_items.merge(products,left_on='order_item_product_id',right_on='product_id')
categoria_mas_popular=categoria_mas_popular.merge(categories,left_on='product_category_id',right_on='category_id')
categoria_mas_popular=categoria_mas_popular.groupby("category_name")["order_item_quantity"].sum().reset_index()
categoria_mas_popular.sort_values(by='order_item_quantity',ascending=False)

           category_name  order_item_quantity
7                 Cleats                73734
30       Women's Apparel                62956
19  Indoor/Outdoor Games                57803
6       Cardio Equipment                37587
24         Shop By Sport                32726
22        Men's Footwear                22246
9                Fishing                17325
29          Water Sports                15540
5       Camping & Hiking                13729
8            Electronics                 9436
0            Accessories                 5349
14            Golf Balls                 4384
11        Girls' Apparel                 3615
15           Golf Gloves                 2961
28              Trade-In                 2822
2    Baseball & Softball                 1785
17                Hockey                 1711
16            Golf Shoes                 1444
4           Boxing & MMA                 1265
18    Hunting & Shooting                 1239
12          Golf Apparel                 1025
21              Lacrosse                 1021
27      Tennis & Racquet                  991
10   Fitness Accessories                  856
20      Kids' Golf Clubs                  645
23      Men's Golf Clubs                  420
31    Women's Golf Clubs                  403
25                Soccer                  295
1        As Seen on  TV!                  206
26     Strength Training                  111
3             Basketball                   67
13     Golf Bags & Carts                   61

In [ ]:
# Cuales son los productos mas comprados por cada cliente
products_by_customer = order_items.merge(orders, left_on='order_item_order_id', right_on='order_id')
products_by_customer = products_by_customer.groupby(['order_customer_id', 'order_item_product_id'])['order_item_quantity'].sum().reset_index()
products_by_customer = products_by_customer.merge(customers, left_on='order_customer_id', right_on='customer_id').merge(products, left_on='order_item_product_id', right_on='product_id')
most_bought_products_by_customer = products_by_customer.loc[products_by_customer.groupby('order_customer_id')['order_item_quantity'].idxmax()][['customer_fname', 'customer_lname', 'product_name', 'order_item_quantity']]
print(f'Productos más comprados por cada cliente:\n{most_bought_products_by_customer}')