## CONTINUACION SESION 3

In [ ]:
##instalamos la librería de pymongo
## Debemos configurar la ip 0/0/0/0 (por prueba )para el acceso a la base de datos

!pip install "pymongo[srv]"

Requirement already satisfied: pymongo[srv] in /usr/local/python/3.12.1/lib/python3.12/site-packages (4.10.1)
WARNING: pymongo 4.10.1 does not provide the extra 'srv'
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pymongo[srv]) (2.7.0)

In [17]:
pip install --upgrade pip

Requirement already satisfied: pip in /usr/local/python/3.12.1/lib/python3.12/site-packages (24.2)
Collecting pip
  Downloading pip-24.3.1-py3-none-any.whl.metadata (3.7 kB)
Downloading pip-24.3.1-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 21.1 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 24.2
    Uninstalling pip-24.2:
      Successfully uninstalled pip-24.2
  WARNING: The scripts pip, pip3 and pip3.12 are installed in '/usr/local/python/3.12.1/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed pip-24.3.1
Note: you may need to restart the kernel to use updated packages.

In [18]:
pip install --upgrade pymongo

Requirement already satisfied: pymongo in /usr/local/python/3.12.1/lib/python3.12/site-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pymongo) (2.7.0)
Note: you may need to restart the kernel to use updated packages.

In [23]:
import pandas as pd
from pymongo import MongoClient

In [25]:
def get_database_mongodb():
    """
    Esta funcion devuelve el cliente MongoDb
    
    """
    CONNECTION_STRING = "mongodb+srv://brando789:m2aFOuhWgl5kZSJ0@cluster0.wat5b.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
    mongo_client = MongoClient(CONNECTION_STRING)
    return mongo_client['retail']

In [26]:
df_departments = pd.read_csv("./data_retail/departments", header=None, names = ['department_id','department_name'], sep='|')
df_departments

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors
5              7        Fan Shop

In [27]:
##Pasamos el formato a Json para guardarlo en Mongodb

df_mongo = df_departments.to_dict("records")
df_mongo

[{'department_id': 2, 'department_name': 'Fitness'},
 {'department_id': 3, 'department_name': 'Footwear'},
 {'department_id': 4, 'department_name': 'Apparel'},
 {'department_id': 5, 'department_name': 'Golf'},
 {'department_id': 6, 'department_name': 'Outdoors'},
 {'department_id': 7, 'department_name': 'Fan Shop'}]

In [29]:
dbname = get_database_mongodb()
dbname['departments_collect'].insert_many(df_mongo)

InsertManyResult([ObjectId('675068b1b7998c69509b9d5c'), ObjectId('675068b1b7998c69509b9d5d'), ObjectId('675068b1b7998c69509b9d5e'), ObjectId('675068b1b7998c69509b9d5f'), ObjectId('675068b1b7998c69509b9d60'), ObjectId('675068b1b7998c69509b9d61')], acknowledged=True)

In [ ]:
##En Mongodb podemos filtrar así : {'department_id':5}

In [ ]:
##Leemos la colección de la base de datos de mongodb, en find podemos filtrar lo que queremos
departments= dbname['departments_collect'].find({})

In [35]:
df_departments = pd.DataFrame(departments)

In [36]:
df_departments

                        _id  department_id department_name
0  675068b1b7998c69509b9d5c              2         Fitness
1  675068b1b7998c69509b9d5d              3        Footwear
2  675068b1b7998c69509b9d5e              4         Apparel
3  675068b1b7998c69509b9d5f              5            Golf
4  675068b1b7998c69509b9d60              6        Outdoors
5  675068b1b7998c69509b9d61              7        Fan Shop