In [17]:
import pandas as pd
from sqlalchemy import create_engine
import logging
import sys

In [18]:
DATABASE_CONFIG = {
    'host': '10.0.4.11',
    'port': 3310,
    'user': 'root',
    'password': 'root',
    'database': 'retail_db'
}

In [19]:
def create_db_engine(config):
    """
    """
    try:
        engine = create_engine(f"mysql://{config['user']}:{config['password']}@{config['host']}:{config['port']}/{config['database']}")
        return engine
    except Exception as e:
        print(e)

In [20]:
create_db_engine(DATABASE_CONFIG)

Engine(mysql://root:***@10.0.4.11:3310/retail_db)

CONTINUACIÓN SESION 3 : ETL - EXTRACCIÓN

In [21]:
def read_csv(file_path, columns):
    """
    Lee un archivo CSV y devuelve un DataFrame
    """
    try:
        df = pd.read_csv(file_path, header=None, sep='|', names=columns)
        logging.info(f"Archivo {file_path} leido correctamente")
        return df
    except Exception as e:
        logging.error(f"Error al leer el archivo {file_path}: {e}")
        sys.exit(1)

In [28]:
df_departments =read_csv('../data/departments',['department_id','department_name'])
df_departments

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors
5              7        Fan Shop

In [29]:
def transform_departments(df):
    """
    Realiza transformaciones en el dataframe departments
    """
    if df['department_name'].duplicated().any():
        logging.warning("Hay departamentos dupplicados en del DataFrame")
        sys.exit(1) 
    return df

In [30]:
transform_departments(df_departments)

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors
5              7        Fan Shop